$base-color: #9cca68;

$green-color: #51ab6a;
$gray-color: #9f9d9e;

$border-color: #f1f1f1;

$font-color: #fff;
$sub-font-size: 0.7rem;


$desctop-width: 500px;

$table-title-height: 20px;
$table-min-height: 100px;
